.movieCont {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    width: 60%;
}

.martop {
    margin-top: 10px;
}